.slide-block {
  max-width: 670px;
  font-family: "Lato-Light";
  line-height: 1.2;
  text-align: left;
  margin-bottom: 115px;
}
.slide-headers {
  font-size: 48px;
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 3px rgba(25, 22, 24, 0.36);
  margin-bottom: 28px;
}
.slide-headers > b {
  font-family: "Lato-Regular";
}
.slide-desc {
  font-size: 14px;
}
.buttons-block {
  margin-top: 40px;
  display: flex;
  gap: 40px;
}
.slide-container {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}
.slide-background {
  width: 100%;
  height: 100%;
  background-image: url(/src/assets/photo_slide.png);
  background-size: cover;
}
.platforms-block {
  font-family: "Lato-Regular";

  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}
.icon-block {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.349);
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-block img {
  width: 40%;
  height: auto;
}

@media screen and (max-width: 1360px) {
  .slide-block {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 50px;
  }
  .slide-background {
    background-image: url(/src/assets/noPhoneBg.png);
  }
  .slide-container {
    justify-content: center;
    align-items: center;
  }
  .platforms-block {
    justify-content: center;
  }
  .platforms-block {
    justify-content: center;
  }
  .buttons-block {
    justify-content: center;
  }
}
@media screen and (max-width: 680px) {
  .slide-block {
    max-width: 320px;
  }
  .slide-headers {
    font-size: 35px;
  }
  .buttons-block {
    gap: 20px;
  }
  .buttons-block {
    margin-top: 20px;
  }
  .platforms-block {
    margin-top: 20px;
  }
  .slide-headers {
    margin-bottom: 10px;
  }
}
